spring:
  application:
    name: discoveryserver
  main:
    web-application-type: reactive
  cloud:
    config:
      uri: ${CONFIG_SERVER_URI:http://configserver:8888}
      enabled: ${CONFIG_SERVER_ENABLED:false}
    gateway:
      routes:
        # Search Service 라우팅 (Soccer Service의 SearchController로)
        - id: search-service
          uri: lb://soccerservice
          predicates:
            - Path=/api/search
          filters:
            - StripPrefix=1
        # Soccer Service 라우팅
        - id: soccerservice
          uri: lb://soccerservice
          predicates:
            - Path=/api/soccer/**
          filters:
            - StripPrefix=2
        # User Service 라우팅
        - id: user-service
          uri: lb://user
          predicates:
            - Path=/api/user/**
          filters:
            - StripPrefix=2
        # Common Service 라우팅
        - id: commonservice
          uri: lb://commonservice
          predicates:
            - Path=/api/common/**
          filters:
            - StripPrefix=2
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:3000"
              - "http://my-next-app:3000"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders:
              - "*"
            allowCredentials: true
            maxAge: 3600

server:
  port: 8080

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE:http://localhost:8761/eureka/}
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: false
    hostname: ${HOSTNAME:discoveryserver}
